<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
  </head>

  <body>
    <div>
        <h2>Darth Vadar invades!</h2>
        <p>
          Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's quote</button>
      </div>
      <script src="/main.js"></script>
  </body>
</html>